body {
  margin: 0;
  font-family: Inter, sans-serif;
  background-color: #f5f5f5; 
  place-items: normal;
}

#root{
  width: 100%;
}

main {
  margin-top: 30px; 
  width: 100%;
  padding: 20px;
}




/* HEADER*/



header.navbar {
  width: 100%;
  background-color: white;
  display: flex;
  align-items: center;
  padding: 0 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  height: 64px;
  z-index: 10;
}

header .sidenav-trigger {
  margin-right: 10px;
}

header .brand-logo {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  font-weight: bold;
  color: black;
  text-decoration: none;
}

header .breadcrumb {
  flex: 1;
  text-align: center;
  font-size: 1rem;
  font-weight: 500;
  color: gray;
}

header .right {
  font-size: 1rem;
  font-weight: 500;
  color: black;
}


.sidenav {
  background-color: #004d40;
}

.sidenav a {
  color: white;
}

.sidenav a.active {
  background-color: #00695c;
}






/* CARDs*/


.card .card-content, .card .card-action{
  border:0 !important;
  padding: 0 !important;
  text-align: center;
}

.card-group-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.card-group-header select{
  display: inline-block !important;
}

.card-group-header span {
  font-size: 1rem;
  color: #333;
  font-weight: bold;
}

.items-per-page {
  display: flex;
  align-items: center;
  gap: 10px;
}

.items-per-page label {
  font-size: 0.9rem;
  color: #555;
}

.items-per-page select {
  padding: 5px;
  font-size: 0.9rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Paginação */
.pagination-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
}


.client-grid {
  
  flex-wrap: wrap;
  gap: 16px;
  width: 100%; 
}


.client-box {
  background-color: white;
  border-radius: 3px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
}


.client-box .card-title {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 5px;
}

.client-box p {
  font-size: 0.9rem;
  color: #666;
  line-height: 25px;
}

.card-action {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin-top: 5px;  

}

.card-action i {
  cursor: pointer;
  font-size: 1.2rem;
  color: gray;
  transition: color 0.3s;
}

.card-action i:hover {
  color: black;
}

/* Modais */
.modal {
  max-width: 500px;
}

.modal-footer {
  display: flex;
  justify-content: space-between;
}

.create-client-btn {
  width: 100%;
  margin-top: 20px;
  background: transparent;
  border: 2px solid #ec6724;
  color: #ec6724;
}

.create-client-btn:hover {
  background: #ec6724;
  color: white;
}

/* COMUM A TODOS */


input{
 BORDER:2px solid #D9D9D9 !important;
 background-color:#FFF; 
 box-sizing: border-box !important;
 border-radius: 3px !important;
 padding:10px !important;
}
button{
  background-color: #EC6724 !important;
  font-weight: bold;
}
/* Responsividade */
@media only screen and (max-width: 600px) {
  .client-box {
    width: calc(100% - 16px); /* Em telas menores, caixas ocupam 100% da largura */
  }

  .breadcrumb {
    font-size: 0.8rem;
  }
}


